expo
expo-constants
expo-font
expo-linking
expo-splash-screen
expo-status-bar
expo-system-ui
expo-web-browser
@react-native-async-storage/async-storage
@react-navigation/drawer
@react-navigation/native
react-force-graph
react-native-gesture-handler
react-native-reanimated
react-native-safe-area-context
react-native-screens
react-native-vis-network

